@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;

}

/* Index */

/* Background start */

.background-home .cloud {
    width: 100%;
}

.background-home .deer {
    position: absolute;
    bottom: -25px;
    width: 100%;
}

.background-home .sun {
    position: absolute;
    width: 100%;
    top: 150px;
    z-index: -1;
}

.background-home .village {
    position: fixed;
    width: 100%;
    bottom: 4%;
    z-index: -1;
}

/* header Start */

.header-home {
    position: absolute;
    width: 100%;
    height: 235px;
    top: 0;
    display: flex;
    align-items: center;
    transition: .3s ease-in-out;
    justify-content: space-around;
}

.navbar-home {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

li {
    list-style: none;
}

.navbar-home li a {
    margin-left: 80px;
    font-size: 28px;
    font-weight: 600;
    color: #063347;
    cursor: pointer;
    position: relative;
}

.navbar-home a:hover::before {
    transform: scale(1);

}


.navbar-home a::before {
    content: "";
    position: absolute;
    bottom: -18px;
    height: 7px;
    background-color: #063347;
    border-radius: 5px;
    width: 100%;
    transform: scale(0);
    transition: all .3s ease-in-out;
}

.btn-home1 {
    width: 342px;
    height: 74px;
}

.btn-home1 button {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    border: 5px solid #063347;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
}

.btn-home1 button:hover {
    background-color: #063347;
    color: #ffff;
    border: none;
}

/* Index End  */


/* Get  */

/* Background get start */

.bg-container-get {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #063347;
}

.background-get {
    position: absolute;
    bottom: 0;

}

.header-get {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 228px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
}

.header-get .logo {
    margin-right: 180px;
}
.header-get .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-get a {
    position: relative;
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: #ffff;
    margin-left: 80px;
    cursor: pointer;
}

.navbar-get a:first-child {
    position: relative;
}


.navbar-get a:hover::before {
    transform: scale(1);

}


.navbar-get a::before {
    content: "";
    position: absolute;
    bottom: -18px;
    height: 7px;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    transform: scale(0);
    transition: all .3s ease;
}

.header-get .btn-get1 {
    width: 342px;
    height: 74px;
    margin-right: 160px;
}
                
.btn-get1 button {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    border: 5px solid #fff;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
    color: #fff;
}

.btn-get1 button:hover {
    background-color: #fff;
    color: #063347;
    border: none;
}



/* header End */

/* About */

.bg-container-about {
    position: relative;
    width: 100%;
    height: 100%;
}

.header-about {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 228px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
}

.header-about .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-about a {
    position: relative;
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: #063347;
    margin-left: 80px;
    cursor: pointer;
}

.navbar-about a:first-child {
    position: relative;
}

.navbar-about a span {
    position: absolute;
    bottom: -18px;
    left: 0;
    height: 7px;
    background-color: #063347;
    border-radius: 5px;
    width: 100%;
}

.navbar-about a:hover::before {
    transform: scale(1);

}

.navbar-about a::before {
    content: "";
    position: absolute;
    bottom: -18px;
    height: 7px;
    background-color: #063347;
    border-radius: 5px;
    width: 100%;
    transform: scale(0);
    transition: all .3s ease;
}

.header-about .btn-about1 {
    width: 342px;
    height: 74px;
    margin-right: 160px;
    margin-left: 120px;

}
                
.btn-about1 button {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    border: 5px solid #063347;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
    color: #063347;
}

.btn-about1 button:hover {
    background-color: #063347;
    color: #fff;
    border: none;
}